<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header', headertitle="Home Page") %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-3">
          <div class="list-group">
            <% categories.forEach( function( category ) { %>

            <a href="" class="list-group-item list-group-items-action">
              <%= category.name %></a
            >
            <% }) %>
          </div>
        </div>
        <div class="col-md-9">
          <h1 class="h3 mt-3"><%=title %></h1>
          <% blogs.forEach(blog => { %>
          <div class="card mb-3">
            <div class="row">
              <div class="col-md-3">
                <img src="<%= blog.image %>" alt="" class="img-fluid" />
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <h5 class="card-title">
                    <a style="text-decoration: none;" href="/blogs/<%= blog.blogid %>">
                      <%= blog.title %>
                    </a>
                  <p class="card-text"><%= blog.description %></p>
                </div>
              </div>
            </div>
          </div>

          <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
